<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Чат Яндекс.Практикума</title>
</head>
<body>
<div class="container">
    <h1>Чат Яндекс.Практикума</h1>
    <a href="~src/pages/auth/login/index.hbs">Логин</a>
    <a href="~src/pages/auth/register/index.hbs">Регистрация</a>
    <a href="~src/pages/error/404/index.hbs">404 ошибка</a>
    <a href="~src/pages/error/500/index.hbs">5** ошибка</a>
    <a href="~src/pages/profile/index.hbs">Профиль</a>
</div>
</body>
</html>